.search {
    width: 100%;
    display: flex;
    padding: 15px 0px 0px 0px;
    justify-content: center;
    gap: 10px;
    margin-right: 0px;
    align-items: center;

}

.search_input {
    width: 100%;
    max-width: 250px;
    appearance: none;
    border-width: 0px;
    box-shadow: #fefed1 0px 0px 0px 2.4px;
    border-style: solid;
    border-radius: 6px;
    background: transparent;
    color: #fefed1;
    padding: 8px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 8px;
    transition: all 0.2s ease 0s;
    flex-grow: 1;
    margin-right: 10px;
}

.search_input:focus {
    outline: 0px;
    border: none;
    box-shadow: #fefed1 0px 0px 0px 2px;
}

.search_button {
    max-width: 125px;
    margin-top: 8px;
    appearance: none;
    background: rgb(254, 254, 209);
    color: rgb(0, 128, 128);
    border-radius: 9999px;
    width: 100%;
    border: 0px;
    box-shadow: #fefed1 0px 0px 0px 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 8px;
    font-weight: 400;
    font-size: 22px;
    font-family: "Inters", sans-serif;
}
